<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1>Hola Hospinet, el mundo de las incubadoras rápidas.</h1>
      <div class="text-right">
        <%= link_to 'Add Incubator', new_incubator_path, class: 'btn btn-primary' %>
      </div><br>
      <table class="table">
        <tr>
          <th>User_Email</th>
          <th>Incubator_user_id</th>
          <th>Incubator_Serial_Code</th>
        </tr>
          <% @incubators.each do |incubator| %>
      <tr>
        <td><%= current_user.email if signed_in? %></td>
        <% if signed_in? && incubator.user == current_user %>
          <td><%= incubator.user_id %></td>
          <td><%= link_to incubator.serial_code, show_incubator_path(incubator)  %></td>
          <% end  %>
        <% end %>
      </tr>
      </table>
    </div>
  </div>
</div>
