<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Add a New Incubator</h1>
      <%= form_for @incubator do |f| %>
      <div class="form-group">
        <%= f.text_field :serial_code, class: 'form-control input-lg', placeholder: 'Input serial code incubator' %>
      </div>
      <div>
        <%= f.submit 'Add Incubator', class: 'btn btn-primary btn-lg btn-block' %>
      </div>
      <% end %>
      <div class="text-right">
        <%= link_to 'Go Back', root_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
